{:full-name "me/contact-app-datastar-httpkit"
 :ns-name   "me.contact-app-datastar-httpkit"
 :sanitized "me/contact_app_datastar_httpkit"
 :name      "contact-app-datastar-httpkit"
 :modules   {:root         "modules"
             :repositories [{:url  "https://github.com/kit-clj/modules.git"
                             :tag  "master"
                             :name "kit-modules"}]}}
